<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeroesSquad.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA7E1C95299FAE1100D011B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA7E1CA5299FAE1300D011B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA7E1CAF299FAE1400D011B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
